$body-bg: #e6e6fa;
$red: red;
$text-gray: #4e4e4e;
$white: #fff;
$black: #000;
$shadow-gray: #ababab;
$primary-color: #12233b;
$primary-color-100: #143f7a;
$primary-color-200: #3678d5;
$rating-yellow: #ffa534;
$light-yellow: #fddf5b;
$facebook: #3b5998;
$instagram: #f14843;
$whatsapp: #4fce5d;
$twitter: #00acee;
$gmail: #d41717;
$linkedin: #0072b1;