/*FONTS SIZE*/
$font-size-x-small:9px;
$font-size-small:12px;
$font-size-x-regular:14px;
$font-size-regular:16px;
$font-size-medium:22px;
$font-size-large:24px;
$font-size-x-large:30px;
$font-size-xx-large:2rem;
$font-size-xxx-large:35px;
$font-size-xxxx-large:5rem;
$font-size-xxxxx-large:7rem;

/*FONTS WEIGHT*/
$font-weight-regular:500;
$font-weight-medium:600;
$font-weight-bold:800;